# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [58]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [59]:
# your code here

html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [60]:
# your code here
count_names = soup.find_all(class_='h3 lh-condensed')
len(count_names)

25

In [64]:
names2 = [soup.find_all(class_='h3 lh-condensed')[i].get_text(strip=True) + ' ' + soup.find_all('p',{'class':'f4 text-normal mb-1'})[i].get_text(strip=True) for i in range(0,len(count_names))]

In [65]:
print(names2)

['Jason Miller developit', 'Frederic Branczyk brancz', 'Benjamin Eberlei beberlei', 'James Agnew jamesagnew', 'Hein Rutjes IjzerenHein', 'Matthew Johnson mattjj', 'Phil Pluckthun kitten', 'Mariusz Nowak medikoo', 'Mitchell Hashimoto mitchellh', 'David Wilson daviwil', 'Javier Suárez jsuarezruiz', 'Zach Leatherman zachleat', 'Jeff Geerling geerlingguy', 'Seth Michael Larson sethmlarson', 'Josh Holtz joshdholtz', 'Jeremiah Senkpiel Fishrock123', 'David Catuhe deltakosh', 'Jan Karger ツ ☀ punker76', 'Barry vd. Heuvel barryvdh', 'Aaron Abramov aaronabramov', 'Nuno Maduro nunomaduro', 'Jef LeCompte jef', 'Xaymar Xaymar', 'Simon Baslé simonbasle', 'Gleb Bahmutov bahmutov']

In [63]:
names = [soup.find_all(class_='h3 lh-condensed')[i].get_text().replace('\n\n            ','').replace('\n ','') + ' '+'(' + 
         soup.find_all('p',{'class':'f4 text-normal mb-1'})[i].get_text().replace("\n\n              ", "" ).replace("\n ", "") + ')' for i in range(0,len(count_names))]

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [10]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [11]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

count_repo = soup.find_all(class_='h3 lh-condensed')
len(count_repo)

25

In [12]:
repo = [soup.find_all(class_='h3 lh-condensed')[i].get_text().replace('\n\n\n       ','').replace('/\n ','') for i in range(0,len(count_repo))]

In [13]:
repo

['\n reillychase /\n\n      hostifi-mvp\n ',
 '\n KasperskyLab /\n\n      TinyCheck\n ',
 '\n adamian98 /\n\n      pulse\n ',
 '\n microsoft /\n\n      playwright-python\n ',
 '\n google /\n\n      jax\n ',
 '\n geekcomputers /\n\n      Python\n ',
 '\n public-apis /\n\n      public-apis\n ',
 '\n xmendez /\n\n      wfuzz\n ',
 '\n blacklanternsecurity /\n\n      writehat\n ',
 '\n benoitc /\n\n      gunicorn\n ',
 '\n techtanic /\n\n      Udemy-Course-Grabber\n ',
 '\n linuxmint /\n\n      hypnotix\n ',
 '\n willmcgugan /\n\n      rich\n ',
 '\n Devashi-Choudhary /\n\n      Invisible-Cloak-or-Adrishya-Choga\n ',
 '\n returntocorp /\n\n      semgrep\n ',
 '\n home-assistant /\n\n      core\n ',
 '\n openatx /\n\n      uiautomator2\n ',
 '\n elastic /\n\n      detection-rules\n ',
 '\n agermanidis /\n\n      autosub\n ',
 '\n horovod /\n\n      horovod\n ',
 '\n MailRuChamps /\n\n      raic-2020\n ',
 '\n holoviz /\n\n      holoviews\n ',
 '\n 3b1b /\n\n      manim\n ',
 '\n NVIDIA-AI-IOT /\n\n      trt_pose\n ',
 '\n ReFirmLabs /\n\n      binwalk\n ']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [14]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [15]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [16]:
import re
images = []
for img in soup.findAll('img'):
    images.append(img.get('src'))
    
images

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/22px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/25px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/30px-Wikidata-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 '/static/images/footer/wikimedia-button.png',
 '/static/images/footer/poweredby_mediawiki_88x31.png']

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [17]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [18]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [19]:
count_langbox = soup.find_all(class_= 'central-featured-lang')
len(count_langbox)

10

In [20]:
langbox = [soup.find_all(class_= 'central-featured-lang')[i].get_text().replace('+','').replace('\xa0',',').replace('\n\n','') for i in range(0,len(count_langbox))]
langbox

['English\n6,199,000 articles',
 'Español\n1,643,000 artículos',
 '日本語\n1,240,000 記事',
 'Deutsch\n2,505,000 Artikel',
 'Русский\n1,680,000 статей',
 'Français\n2,273,000 articles',
 'Italiano\n1,655,000 voci',
 '中文\n1,160,000 條目',
 'Português\n1,048,000 artigos',
 'Polski\n1,441,000 haseł']

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [21]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [22]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [23]:
lang2 = pd.read_html(url)

In [24]:
len(lang2)

9

In [25]:
lang3 = lang2[0]

In [26]:
lang3.head()

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[8],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic
3,4,Portuguese,346.0,4.450%,Indo-European,Romance
4,5,Hindi (sanskritised Hindustani)[9],341.0,4.429%,Indo-European,Indo-Aryan

In [27]:
lang3.sort_values(by=['Speakers(millions)'], ascending=False)

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[8],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic
3,4,Portuguese,346.0,4.450%,Indo-European,Romance
4,5,Hindi (sanskritised Hindustani)[9],341.0,4.429%,Indo-European,Indo-Aryan
...,...,...,...,...,...,...
86,87,Czech,10.7,0.139%,Indo-European,Balto-Slavic
87,88,Taʽizzi-Adeni Arabic,10.5,0.136%,Afroasiatic,Semitic
88,89,Uyghur,10.4,0.135%,Turkic,Karluk
89,90,Min Dong Chinese,10.3,0.134%,Sino-Tibetan,Sinitic
90,91,Sylheti,10.3,0.134%,Indo-European,Indo-Aryan

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [28]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [29]:
# your code here

movies = pd.read_html(url)

In [30]:
movies

[     Unnamed: 0                        Rank & Title  IMDb Rating  \
 0           NaN        1.  Die Verurteilten  (1994)          9.2
 1           NaN                2.  Der Pate  (1972)          9.1
 2           NaN              3.  Der Pate 2  (1974)          9.0
 3           NaN         4.  The Dark Knight  (2008)          9.0
 4           NaN  5.  Die zwölf Geschworenen  (1957)          8.9
 ..          ...                                 ...          ...
 245         NaN    246.  Schlacht um Algier  (1966)          8.0
 246         NaN            247.  Tangerines  (2013)          8.0
 247         NaN            248.  Der Zirkus  (1928)          8.0
 248         NaN            249.  Terminator  (1984)          8.0
 249         NaN        250.  Koe no katachi  (2016)          8.0

                             Your Rating  Unnamed: 4
 0    12345678910 NOT YET RELEASED  Seen         NaN
 1    12345678910 NOT YET RELEASED  Seen         NaN
 2    12345678910 NOT YET RELEASED  Seen         NaN
 3    12345678910 NOT YET RELEASED  Seen         NaN
 4    12345678910 NOT YET RELEASED  Seen         NaN
 ..                                  ...         ...
 245  12345678910 NOT YET RELEASED  Seen         NaN
 246  12345678910 NOT YET RELEASED  Seen         NaN
 247  12345678910 NOT YET RELEASED  Seen         NaN
 248  12345678910 NOT YET RELEASED  Seen         NaN
 249  12345678910 NOT YET RELEASED  Seen         NaN

 [250 rows x 5 columns]]

In [31]:
movies = movies[0]

In [32]:
movies

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. Die Verurteilten (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. Der Pate (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. Der Pate 2 (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. Die zwölf Geschworenen (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. Schlacht um Algier (1966),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Tangerines (2013),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. Der Zirkus (1928),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Terminator (1984),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. Koe no katachi (2016),8.0,12345678910 NOT YET RELEASED Seen,NaN

In [33]:
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [36]:
count_director = soup.find_all(class_= 'titleColumn')
len(count_director)

250

In [52]:
director = [soup.find_all('td', {'class':'titleColumn'})[i].find('a').get('title').split(',')[0] for i in range(0,len(count_director))]

In [53]:
movies.head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4,Director
0,NaN,1. Die Verurteilten (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN,Frank Darabont (dir.)
1,NaN,2. Der Pate (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN,Francis Ford Coppola (dir.)
2,NaN,3. Der Pate 2 (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN,Francis Ford Coppola (dir.)
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN,Christopher Nolan (dir.)
4,NaN,5. Die zwölf Geschworenen (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN,Sidney Lumet (dir.)

In [54]:
movies['Director'] = director

In [55]:
movies.head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4,Director
0,NaN,1. Die Verurteilten (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN,Frank Darabont (dir.)
1,NaN,2. Der Pate (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN,Francis Ford Coppola (dir.)
2,NaN,3. Der Pate 2 (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN,Francis Ford Coppola (dir.)
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN,Christopher Nolan (dir.)
4,NaN,5. Die zwölf Geschworenen (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN,Sidney Lumet (dir.)

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [68]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [73]:
# your code here

movies2 = soup.find_all('div', {'class':'lister-item mode-detail'})

len(movies2)

100

In [79]:
movie_name = [soup.find_all('div', {'class':'lister-item mode-detail'})[i].find('h3').find('a').get_text(strip=True) for i in range(0,len(movies2))]

In [85]:
year = [soup.find_all('div', {'class':'lister-item mode-detail'})[i].find('h3').find('span', {'class':'lister-item-year text-muted unbold'}).get_text(strip=True) for i in range(0,len(movies2))]

In [89]:
desc = [soup.find_all('div', {'class':'lister-item mode-detail'})[i].find('p', {'class':''}).get_text(strip=True) for i in range(0,len(movies2))]

In [93]:
df = pd.DataFrame()

In [96]:
df['movie_name'] = movie_name
df['year'] = year
df['desc'] = desc

In [98]:
df.head(10)

,movie_name,year,desc
0,Nightmare - Mörderische Träume,(1984),The monstrous spirit of a slain child murderer...
1,Zeit des Erwachens,(1990),The victims of an encephalitis epidemic many y...
2,Eine Klasse für sich,(1992),Two sisters join the first female professional...
3,In den Straßen der Bronx,(1993),A father becomes worried when a local gangster...
4,Angels - Engel gibt es wirklich,(1994),When a boy prays for a chance to have a family...
5,Die Jury,(1996),"In Canton, Mississippi, a fearless young lawye..."
6,Amistad - Das Sklavenschiff,(1997),"In 1839, the revolt of Mende captives aboard a..."
7,Anaconda,(1997),"A ""National Geographic"" film crew is taken hos..."
8,Kein Vater von gestern,(1998),"Russell, single father balances his work as a ..."
9,American History X,(1998),A former neo-nazi skinhead tries to prevent hi...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [99]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:  Berlin

In [101]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [105]:
soup

<html><body><p>{"coord":{"lon":13.41,"lat":52.52},"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01n"}],"base":"stations","main":{"temp":5.54,"feels_like":2.93,"temp_min":5,"temp_max":6.11,"pressure":1003,"humidity":70},"visibility":10000,"wind":{"speed":1,"deg":160},"clouds":{"all":0},"dt":1607180994,"sys":{"type":1,"id":1262,"country":"DE","sunrise":1607151633,"sunset":1607180041},"timezone":3600,"id":2950159,"name":"Berlin","cod":200}</p></body></html>

In [114]:
temp = soup.find_all('main', {'class':'temp'}).get()

AttributeError: ResultSet object has no attribute 'get'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [107]:
temp

[]

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

In [ ]:
# your code here